/**
* Variables $
*/

$light_grey = #cccccc
$light_grey_focused = #999999
$global_font_text = 15px
$global_inline_height = 20px

/**
* Global Style
*/


/**
* input box Style
*/
input
    background-color: rgba(255,255,255,0)
    border-bottom: 3px solid $light_grey
    font-size: $global_font_text
    line-height: $global_inline_height
    // animation style
    padding-bottom: 3px
    transition-property: border-bottom padding-bottom
    transition-duration: 0.2s
    &:hover
        padding-bottom: 0px
        border-bottom: 6px solid $light_grey
        transition-property: border-bottom padding-bottom
        transition-duration: 0.2s
    &:focus
        padding-bottom: 0px
        border-bottom: 6px solid $light_grey_focused
        transition-property: border-bottom padding-bottom
        transition-duration: 0.2s
        

/**
* Button Style
*/
button
    background-color: rgba(255,255,255,0)
    border-bottom: 3px solid $light_grey
    font-size: $global_font_text
    font-weight: 500
    line-height: $global_inline_height
    // animation style
    padding-bottom: 3px
    transition-property: border-bottom padding-bottom
    transition-duration: 0.2s
    &:hover
        padding-bottom: 0px
        border-bottom: 6px solid $light_grey
        transition-property: border-bottom padding-bottom
        transition-duration: 0.2s
    &:focus
        padding-bottom: 0px
        border-bottom: 6px solid $light_grey_focused
        transition-property: border-bottom padding-bottom
        transition-duration: 0.2s

/**
* Select Style
*/
select
    background-color: rgba(255,255,255,0)
    max-width: 100%
    border-bottom: 3px solid $light_grey
    font-size: $global_font_text
    line-height: $global_inline_height
    // animation style
    padding-bottom: 3px
    transition-property: border-bottom padding-bottom
    transition-duration: 0.2s
    &:hover
        padding-bottom: 0px
        border-bottom: 6px solid $light_grey
        transition-property: border-bottom padding-bottom
        transition-duration: 0.2s
    &:focus
        padding-bottom: 0px
        border-bottom: 6px solid $light_grey_focused
        transition-property: border-bottom padding-bottom
        transition-duration: 0.2s