/**
* Variables $
*/
@import "variable.styl"

.icon
    box-sizing content-box

.lumi-container
    max-width $container_width
    margin 0 auto

.box-side-padding-sm
    padding-left $global_font_text * 0.7
    padding-right  $global_font_text * 0.7

.lumi-flex-slider-wrapper
    overflow-x hidden
    -ms-overflow-style none
    -webkit-overflow-scrolling touch
    scrollbar-width none
    &::-webkit-scrollbar
        display none !important
    &.scroll-free
        overflow-x scroll
    ul.lumi-flex-slider
        display flex
        flex-wrap nowrap
        margin-top $global_font_text * 0.5
        margin-bottom $global_font_text * 0.5
        &.lumi-flex-slider-align-bottom
            align-items flex-end
        li.lumi-flex-slider-item
            display table-cell
            float left
            margin-right 1rem
        // &:first-child
        //     margin-left 1rem
        &:last-child::after
            visibility hidden
            content "."
