$container_width = 990px
$mobile_viewport_width = 480px

$light_grey = #cccccc
$light_grey_focused = #333333
$light_black = #333333
$global_font_text = 14px
$global_inline_height = 20px

$forced_white = #f2f2f2

@css
:export
    containerWidth $container_width
    mobile_viewport_width $mobile_viewport_width