$container_width = 990px
$mobile_viewport_width = 480px

$global_font_text = 1rem
$global_inline_height = ( $global_font_text * 1.4 )
$global_component_height = ( $global_font_text * 2.4 )

/**
COLOR
 */
$light_grey = #cccccc
$light_grey_focused = #333333
$light_black = #333333

$forced_white = #f2f2f2

$lumi_opacity_black_level_3 = rgba(0,0,0,0.9)
$lumi_opacity_black_level_2 = rgba(0,0,0,0.6)
$lumi_opacity_black_level_1 = rgba(0,0,0,0.3)

$lumi_opacity_white_level_3 = rgba(255,255,255,0.9)
$lumi_opacity_white_level_2 = rgba(255,255,255,0.6)
$lumi_opacity_white_level_1 = rgba(255,255,255,0.3)

$lumi_block_grey_level_3 = #4d4d4d
$lumi_block_grey_level_2 = #808080
$lumi_block_grey_level_1 = #e6e6e6

@css
:export
    containerWidth $container_width
    mobile_viewport_width $mobile_viewport_width